
body {
  	font-family: 'Poppins', sans-serif !important;
  	background-color: black !important;
}

#video_container{
	display: none;
}

#video_info {
	color: white !important;
	position: absolute;
	top:30%;
	left: 50%;
	text-align:center;
	font-size: 27px !important;
	font-family: inherit !important;
	line-height: 1.4 !important;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

#video-player{
	position: absolute;
    top: 0;
    left: 0; 
	overflow: hidden;
	width: 100% !important;
	height: 100% !important;
}

#remoteVideo{
	position: absolute;
	top: 0;
    left: 0;
    overflow: hidden;
	height: 100% !important;
	width: 100% !important; 
	display: none; 
}

#networkWarning {
    color: #856404;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 1em;
    margin: 1em;
    background-color: #fff3cd;
    border-color: #ffeeba;
	border-radius: .25em;
	display: none;
}